<nav> 
  <h1 id='logo'>Fhellow</h1>
  <ul>
  <li><a href="#">About</a></li>
  <li><%= link_to "Activity", activity_path(@user) %></li> 
  </ul>
</nav>

<div id='map'></div>
<% link_to %>
<section id="search-container">
    <div id="search"><h2>Find fellow freelancers and entrepreneurs working around you</h2>
        <h4> Discuss project, share advice, collaborate, meet up and start creating your own work community</h4>
        <span>Enter your post code  </span>
        <span>Proximity  </span>
        <span>Type of Fhellow  </span>
        <div id="interests-form">
            <form> Interested in
                <input type="checkbox" name="discussing-ideas">Discussing Ideas</input >
                <input type="checkbox" name="collaborating">Collaborating</input >
                <input type="checkbox" name="afterwork-drinks">Afterwork drinks</input >
                <input type="checkbox" name="chat-over-a-coffee">Chat over a coffee</input >
                <input type="checkbox" name="lunch-buddy">Lunch buddy</input >
                <input type="checkbox" name="advising">Advising</input >
            </form>
        </div>
    </div>
   <main class="profile-container">
	   <template class="profile-template">
			<article class="profile" id="{{full_name}}">
				<li>
					<section class="image">
		        <img src="{{image_url}}" class="avatar-image">
					</section>
					<h3> {{full_name}}</h3>
					<p> {{job_title}} </p>
					<p> {{town}}</p>
					<p> {{bio_truncated}} </p>
				</li>

			</article> </template> </main>

</section>


