<h2 class="activity-heading">Activity</h2>

<article class="main">
	<div id="activity-post-container">
		<% if @posts.any? %>
		  <%= render @posts.reverse %>
		<% else %>
		   <p>No posts yet</p>
		<% end %>
  </div>
</article>
