<%= form_for [@user, @status], url: "/user/#{@user.id}/status" do |f| %>

  <p><%= f.label :current_status %></p>
  <p><%= f.text_field :current_status %></p>

  <p><%= f.submit "Update status" %></p>

<% end %>