<div class="about-top">
	<h2 class="about-heading">Welcome to Fhellow</h2>
  <p class="about-message">Fhellow is a community of Freelancers, Entrepreneurs, Digital Nomads and others who spend alot of time working independently.  Our mission is to connect us all so we too can enjoy the benefits of having a work commmunity.</p>
</div>

<div class="about-mid">
	<h2 class="about-with-fhellow">With Fhellow you can...</h2>

  <div class="row about-reasons">
	 <div class="col-md-4">
		  <h3 class="about-sub-heading">Find Fhellows working around you... now</h3>
		  <p>Using our real time map you can see who is working around you right now.  So, if you're looking for someone to bounce ideas around with or just want to have a coffee break, you now have a community to ask.</p>
		  <h3 class="about-sub-heading">Message Fhellows</h3>
		  <p>Message Fhellows in your areas to see if they want to meet up or collaborate.  You can also message Fhellows who you think may be able to giv eyou some advice about your work or any work related problems.</p>
    </div>

		<div class="col-md-4">
		  <h3 class="about-sub-heading">Post updates, advice and inspiration</h3>
		  <p>Found a great coffee shop to work in?  Need some help?  Found something cool you think other Fhellows will like?  Post it and share it with your community.</p>
		  <h3 class="about-sub-heading">Build your work community</h3>
		  <p>Add Fhellows to your network by following them.  You can then view their recent posts and status making it easier to keep in touch and share your news.</p>
	  </div>

	  <div class="col-md-4">
		  <h3 class="about-sub-heading">Create your profile</h3>
		  <p>Introduce yourself to other Fhellows with a short bio, let others know what you're interested in and keep your Fhellows updated with what's new with you.</p>
		  <h3 class="about-sub-heading">Spread the word</h3>
		  <p>Do ou know other freelancers, entrepreneurs, digital nomads or anyone else who works independently?  Help your Fhellows out by inviting them to the community via <a href="#">Facebook</a>, <a href="#">Twitter</a> or <a href="#">email</a>.</p>
	  </div>
	</div>
</div>

<div class="about-bottom">
	<div class="about-bottom-heading">
	  <h2>Who is Fhellow for?</h2>
	  <p>Have you ever...</p>
  </div>
  <div class="row">
  	<div class="col-md-1"></div>
    <div class="col-md-5">
		  <ul class="about-reasons">
		  	<li>Spend all day working form home or in a coffee shop and then realised that you've hardly spoken to anyone all day?</li>
		  	<li>Missed having someone to bounce ideas around with?</li>
		  	<li>Missed having a colleague to share a coffee or lunch break?</li>
		  	<li>Wanted recommendations on where the best places to work are?</li>
		  </ul>
    </div>
    <div class="col-md-5">
		  <ul class="about-reasons">
		  	<li>Wished you could ask someone in your field for advice?</li>
		  	<li>Wanted to meet like minded people?</li>
		  	<li>Never experienced an office Christmas party</li>
		  	<li>Found working independently lonely at times and missed the social side of work?</li>
		  </ul>
    </div>
  	<div class="col-md-1"></div>
  </div>
</div>

<div class="about-join">
	<p>If you can relate to any of the above then you're a Fhellow!</p>
  <li class="account-manage about-join-button"><%= button_to "Join the community", new_user_registration_path, method: "get" %></li>
</div>

<div class="about-footer-space"></div>