.about-top {
  text-align: center;
  padding: 20px 200px 20px 200px;
  background-image: url("Banner.jpg");
  height: 401px;
}

.about-heading .about-with-fhellow .about-bottom-heading {
  font-weight: 800;
}

.about-mid {
  text-align: left;
  background-color: white;
  padding: 20px 0 20px 0;
}

.about-bottom {
  text-align: left; 
}

.about-footer-space {
  height: 120px;
}

.about-join-button {
  list-style-type: none;
  margin-right: 40%;
}

.about-bottom-heading {
 text-align: center;
}

.about-reasons {
  list-style-type: disc;
  padding: 20px 0 20px 0;
}

.about-join {
 text-align: center;
 border-top: 1px solid #C9C9C9;
 padding-top: 20px;
}

.about-with-fhellow {
  text-align: center;
}

.about-sub-heading {
  text-align: left; 
}

.about-reasons{
  padding: 10px;
}