/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*= require bootstrapValidator
*= require_tree .
*= require_self
*/

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

html {
  position: relative;
  height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  color: #4C4C4C;
  background-color: #EAEDF1;
  height: 100%;
}

h1 a {
font-family: 'Montserrat', sans-serif;
color: #000;
margin: -10px 0 0 10px;
}

h1 a:hover {
  text-decoration: none;
  color: #000;
}

h2 {
  font-size: 18pt;
}

i {
  color: #7A7A7A;
}

.navbar {
  min-height: 80px;
}

.navbar-brand {
padding: 0 15px;
}

.main {
  padding: 1% 5%;
}

#notice {
  text-align: center;
  vertical-align: middle;
  position:absolute;
  top:250px;
  left: 43%;
  z-index: 1;
  width: 200px;
  height: 70px;
  border: 3px solid #43BEA2;
  border-radius: 15px;
  background-color: #EAEDF1;
}

#notice p {
  padding-top: 15px;
}

/*Join/Login settings  - BEGIN*/

article.signin-up {
  margin-left: 36%;
  margin-top: 6%;
  border: solid 1px #C9C9C9;
  margin-right: 36%;
  padding-bottom: 2%;
}

h2.signin-up-heading {
  background: #323A44;
  display: block;
  color: white;
  margin-top: 0%;
  padding: 4%;
  padding-left: 40%;
}

form.new_user {
  padding-left: 5%;
  padding-right: 21%;
  padding-top: 2%;
}
/*Modal settings - BEGIN */

.modal-header {
  position: relative;
  background: #323A44;
  display: block;
  color: white;
  margin-top: 8%;
  margin-left: 33%;
  margin-right: 35%;
}

.modal-body {
  position: relative;
  display: block;
  background-color: white;
  margin-left: 33%;
  padding-top: 3%;
  width: 32%;
}

.modal-footer {
  display: none;
}


#content-label {
  display: none;
}

textarea#post_content {
  resize: none;
  width: 99%;
	height: 120px;
	border: 1px solid #C9C9C9;
	padding: 5px;
	font-family: 'Lato', sans-serif;
	background-position: bottom right;
	background-repeat: no-repeat;
}


div#latlng {
  width: 3%;
  margin-right: 4%;
  font-size: 2em;
  display: inline-block;
}

div.input-append {
  display: inline;
}

a.fontawesome-picture {
  font-size: 2em;
}

input.input-small {
  display: none;
}

input#post_image {
  display: none;
}

p.post-submit {
  display: inline;
  margin-right: 2%
}
/*Modal settings - END*/


/*Conversation page settings - BEGIN*/


// input#user_avatar {
//   display: none;
// }


.chatbox {
  background-color: #323a44;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  margin-top: 0px;

}

 .message-list {
  background-color: #323a44;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  margin-top: 0px;
  width: 100%;

 }

#chatbox {
border: solid 1px #c9c9c9;
border-top: solid 4px;
border-top-color: #43bea2;
width: 96%;
margin-top: 2%;
margin-left: 2%;
background-color: white;
padding-left: 2%;
margin-right: 2%;
padding-right: 2%;
height: 72%;
padding-bottom: 2%;
padding-top: 2%;
}

textarea#message {
  resize: none;
  width: 98%;
	height: 120px;
	border: 1px solid #C9C9C9;
	padding: 5px;
	font-family: 'Lato', sans-serif;
	background-position: bottom right;
	background-repeat: no-repeat;
}

textarea#message-box {
  resize: none;
  width: 100%;
	height: 120px;
	border: 1px solid #C9C9C9;
	padding: 5px;
  padding-bottom: 2%;
  margin-top: 1%;
	font-family: 'Lato', sans-serif;
	background-position: bottom right;
	background-repeat: no-repeat;
}

input[type='submit'] {
  padding-left: 40px;
  padding-right: 40px;
  color: white;
  height: 40px;
  background: none;
  background-color: #43BEA2;
  border: none;
  float: right;
  margin-right: 1%;
}

/*Conversation page settings - END*/


.nav.navbar-nav.navbar-right li input:hover {
  background-color: #323a44;
}

/*Message page settings - BEGIN*/

.message {
  width: 98%;
  resize: vertical;
}

.message-text {
  width: 40%;
}

.message-container {
  box-sizing: border-box;
  border: solid 1px #C9C9C9;
  border-top: solid 4px;
  border-top-color: #43BEA2;
  margin-left: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 96%;
  background-color: white;
  }

.each-message {
  padding-left: 2%;
  padding-top: 2%;
  border-bottom: solid 1px #C9C9C9;
  padding-bottom: 2%;
}

.message-who {
  font-size: 14pt;
  font-style: bold;
  color: #323A44;
}

.time-sent {
  color: #9A9A9A;
  font-size: 12pt;
  font-family: 'Lato', 'sans-serif'
}


a.convo-link {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 0.5%;
  color: white;
  height: 40px;
  background: none;
  background-color: #43BEA2;
  border: none;
  float: right;
  margin-right: 1%;
  text-decoration: none;
}

#message-avatar {
  display: inline;
}

.devise-links {
  position:absolute;
  top:100px;
  left: 100px;
}

/*Message page settings - END*/

/* Sticky footer styles
-------------------------------------------------- */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
