/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require_tree .
*= require_self
*/

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

.navbar {
  min-height: 80px;
}

body {
  font-family: 'Lato', sans-serif;
  color: #4C4C4C;
  background-color: #EAEDF1;
}

#logo {
  padding: 20px 0 0 1%;
  margin: 0;
  background-color: #fff;
}

h1 a {
font-family: 'Montserrat', sans-serif;
color: #000;
margin: -10px 0 0 10px;
}

h1 a:hover {
  text-decoration: none;
  color: #000;
}

i {
  color: #7A7A7A;
}

// .fa {
//   font-size: 22px;
//   display: block;
//   margin: 15% auto 0;
// }

.main {
  padding: 1% 5%;
}

#notice {
  text-align: center;
  vertical-align: middle;
  position:absolute;
  top:250px;
  left: 43%;
  z-index: 1;
  width: 200px;
  height: 70px;
  border: 3px solid #43BEA2;
  border-radius: 15px;
  background-color: #EAEDF1;
}

#notice p {
  padding-top: 25px;
}

.chatbox {
  background-color: #323a44;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  margin-top: 0px;

}

 .message-list {
  background-color: #323a44;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  margin-top: 0px;
  width: 100%;

 }

#chatbox {
  border: solid 1px #c9c9c9;
  border-top: solid 4px;
  border-top-color: #43bea2;
  width: 96%;
  margin-top: 2%;
  margin-left: 2%;
  background-color: white;
  padding-left: 2%;
}


#message {
  width: 98%;
  resize: none; 
}
