/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require_tree .
*= require_self
*/

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

body {
  font-family: 'Lato', sans-serif;
  color: #4C4C4C;
}

#logo {
  margin-top: 10px;
}

h1 a {
font-family: 'Montserrat', sans-serif;
color: #000;
margin: -10px 0 0 10px;
}

h1 a:hover {
  text-decoration: none;
  color: #000;
}

i {
  color: #7A7A7A;
}

.fa {
  font-size: 22px;
  display: inline-block;
  margin: 0 auto;
}
