.edit_user {
  padding: 2% 5%;
  // background-color: #ededed;
}

.edit_user div {
  margin-bottom: 1%;
}

#edit-profile-details {
  margin: 5% 0 60px 5%;
}

#edit-profile-details label {
  width: 100%;
  vertical-align: top;
}

.edit_user input {
  margin-right: 2%;
  display: block;
  // height: 10%;
}

.first-name-field {
  float: left;
  width: 40%;
}
.first-name-field input {
  padding: 5%;
  width: 60%;
}

.last-name-field {
  float: left;
  width: 40%;
}

.last-name-field input {
  padding: 5%;
  width: 60%;
}

.email-field {
  clear: left;
  width: 100%;
}

.email-field input {
  width: 64%;
  padding: 3%;
}

.job-field {
  width: 40%;
  float: left;
}

.fhellow-type {
  float: left;
  margin-top: 5%;
}

.town-field {
  width: 40%;
  float: left;
  clear: left;
}

.town-field input{
   padding: 3%;
   width: 60%;
}

.country-field {
  width: 40%;
  float: left;
}

.country-field input{
   padding: 3%;
   width: 60%;
}

.job-field input {
    width:60%;
    padding: 3%;
}

.web-field {
  clear: left;
  width: 40%;
  float: left;
}

.web-field input {
  padding: 3%;
  width: 60%;
}

.linked-in-field {
  width: 40%;
  float: left;
}

.linked-in-field input {
  padding: 3%;
  width: 60%;
}
.user-edit-bio {
  clear: left;
}

.user-edit-bio {
  border-radius: none;
}

#edit-profile-image {
  text-align: center;
}

#edit-profile-image label {
  margin-top: 2%;
  display: block;
}

// .fileinputs {
//   position: relative;
//   background-color: #323a44;
//   width: 40%;
//   padding: 1% 3%;
//   border-radius: 8px;
//   margin: 0 auto;
// }

// .fileinputs p {
//   color: #fff;
//   margin-bottom: 10%;
// }

#edit-profile-image input {
  padding-top: 1%;
  margin: 0 auto;
}

.interests-checks {
  padding: 5%;
}

.interests-checks label {
  display: inline;
}

.interests-checks ul {
  padding: 2% 5%;
  float: left;
}

.interests-checks li {
  list-style: none;
  margin-bottom: 10%;
}

.interests-checks input[type=checkbox] {
  /* All browsers except webkit*/
  margin-top: 0;
  transform: scale(1.5);

  /* Webkit browsers*/
  -webkit-transform: scale(1.5);
}

.profile-submit {
  clear: left;
}


.edit-profile-heading {
  background-color: #323a44;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  margin-top: 0px;
  width:100%;
}

form.registerForm {
  width: 100%;
  padding: 0;
}
