// Place all the styles related to the homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map {
  width: 100%;
  height: 500px;
}

.lat, .lng {
  display: none;
}

h1 #logo {
  color: red;
}