// Place all the styles related to the homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
header {
  border-bottom: none;
}

#map {
  width: 100%;
  height: 500px;
}

.lat, .lng {
  display: none;
}

#search {
	text-align: center;
	background-color: white;
	padding-top: 5px;
  padding-bottom: 20px;
}

#search-heading {
	font-size: 28px;
	font-weight: 700;
}

input[type=checkbox] {
	margin-left: 15px !important;
  margin-right: 5px !important;
}

#search-container-position {
  position: relative;
  top: -90px;
  z-index: +1;
}

#profile-container {
  margin-top: 10px;
  margin-bottom: 100px;
}

.child-container {
	width: 250px;
  margin: 0 5px 0 5px;
}

.avatar-image {
	width: 102px;
	height: 102px;
  border: solid 1px #C9C9C9;
}
.profile-summary {
	width: 100%;
	padding: 15px;
  border: solid 1px #C9C9C9;
  margin: 5px 5px 0 5px;
  background-color: white;
}

.profile-summary-text {
	width: 100%;
  padding-top: 5px !important;
}

.profile-summary-name {
	color: black;
	font-weight: 700;
}

.profile-summary-job-title {
	margin-bottom: 0px;
}

.profile-summary-location {
	color: #C9C9C9;
	margin-bottom: 0px;
	font-size: 12px;
}

.bio-summary {
	width: 100%;
  padding: 5px 15px 5px 15px;
  border-left: solid 1px #C9C9C9;
  border-bottom: solid 1px #C9C9C9;
  border-right: solid 1px #C9C9C9;
  margin: 0 5px 5px 5px;
  background-color: white;
}

.profile-summary-bio {
	color: #C9C9C9;
	margin-bottom: 0px;
	font-size: 12px;
}

.no-users {
	width: 150%;
	font-weight: 700;
	margin-left: 33%;
}

/*-----------Location setter button ------------ */
input[type='submit'].location-setter {
  margin: 0 auto;
  float: none;
  border-radius: 2%;
}

input[type='submit'].location-setter:hover {
  background-color: #323a44;
}


