// Place all the styles related to the homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
header {
  border-bottom: none;
}

#map {
  width: 100%;
  height: 500px;
}

.lat, .lng {
  display: none;
}

#search {
	text-align: center;
	background-color: white;
	padding-top: 5px;
  padding-bottom: 20px;
}

#search-heading {
	font-size: 28px;
	font-weight: 700;
}

input[type=checkbox] {
	margin-left: 15px !important;
  margin-right: 5px !important;
}

#search-container-position {
  position: relative;
  top: -90px;
  z-index: +1;
}

#profile-summaries-display {
	padding: 0 15px 0 15px;
}

/*
.profile-container-column {
	padding: 0 !important;
}*/

.profile-container {
	width: 33%;
}

.test-stacker {
width: 33%;
}

.profile-summary {
	padding: 15px;
  border: solid 1px #C9C9C9;
  margin: 15px 15px 0 15px;
  background-color: white;
}

.avatar-image {
  border: solid 1px #C9C9C9;
}

.profile-summary-text {
  padding: 0 5px 0 20px !important;
}

.profile-summary-name {
	color: black;
	font-weight: 700;
}

.profile-summary-job-title {
	margin-bottom: 0px;
}

.profile-summary-location {
	color: #C9C9C9;
	margin-bottom: 0px;
	font-size: 12px;
}

.bio-summary {
  padding: 5px 15px 5px 15px;
  border-left: solid 1px #C9C9C9;
  border-bottom: solid 1px #C9C9C9;
  border-right: solid 1px #C9C9C9;
  margin: 0 15px 15px 15px;
  background-color: white;
}

.profile-summary-bio {
	color: #C9C9C9;
	margin-bottom: 0px;
	font-size: 12px;
}