// header {
//   margin: 0;
//   padding: 0 0 6%;
//   border-bottom: 1px solid #C9C9C9;
//   background-color:#fff;
// }

// nav{
//   background-color:#fff;
// }

// nav ul {
//   text-align: center;
//   position: relative;
//   width: 100%;
//   margin: 0;
//   margin-top: -18px;
// }

.navbar-header {
  margin-top: 10px;
}

.navbar-brand img {
  margin-right: 20px;
}

.navbar-brand span {
  color: #4C4C4C;
  font-weight: bold;
  font-size: 28px;
  letter-spacing: 2px;
  vertical-align: middle;
}

.nav.navbar-nav.navbar-right li {
  list-style: none;
  display: inline-block;
  margin: 0 auto;
  border-right: 1px solid #C9C9C9;
}

.nav.navbar-nav.navbar-right li:first-child {
  border-left: 1px solid #C9C9C9;
}

.nav.navbar-nav.navbar-right li.account-manage {
  border: none;
}

.navbar-collapse.collapse {
  padding-top: 14px;
}

.navbar.navbar-default.navbar-static-top{
  height: 70px;
  margin-bottom: 0px;
  margin-top: -14px;
}

// .nav.navbar-nav.navbar-right li{
//   border-left: 1px solid #C9C9C9;
// }



// nav li:last-child {
//   border-right: 1px solid #C9C9C9;
// }

.nav.navbar-nav.navbar-right li a {
  color: #9A9A9A;
  font-size: 14px;
  display: block;
  width: 100px;
  text-align: center;
}

.nav.navbar-nav.navbar-right li a:hover {
  text-decoration: none;
  color: #9A9A9A;
}

.nav.navbar-nav.navbar-right li i {
  color: #7A7A7A;
  display: block;
  font-size: 16px;
}

.nav.navbar-nav.navbar-right li input {
   color: #7A7A7A;
  display: block;
  font-size: 16px;
  background-color: #43BEA2;
  margin: 15px 0 0 10px;
}

.dropdown-menu.nav.navbar-nav.navbar-right li:first-child {
  border: none;
}

// .account-manage a {
//   background-color: #43BEA2;
//   padding: 10% 1%;
//   color: #fff;
// }

// .account-manage a:hover {
//   color: #fff;
// }

.navbar-nav > li > .dropdown-menu {
  padding: 0;
  border: none;
}

.navbar-nav > li > .dropdown-menu li {
  width: 100%;
}

.dropdown-menu li:hover {
  background-color: #43BEA2;
  color: #fff;
}

.navbar-nav > li > .dropdown-menu > li > a:hover {
  background-color: #43BEA2;
  color: #fff;
}



