.profile-main {
  margin-top: -120px;
}

.cover-image {
	background-image: url('/assets/cover-image.jpg');
	background-size: cover;
	height: 450px;
	width: 100%;
	position: relative;
  z-index: 1;
}

.avatar {
	margin: -200px 0 0 8%;
	border: 5px solid #fff;
	position: relative;
	z-index: 1;
}

//   .hexagon {
//   position: relative;
//   width: 250px;
//   height: 144.34px;
//   margin: -155.17px 0;
//   background-image: url('/assets/User_2.jpg');
//   background-size: auto 277.1281px;
//   background-position: center;
//   border-left: solid 5px #ffffff;
//   border-right: solid 5px #ffffff;
// }

// .hexTop,
// .hexBottom {
//   position: absolute;
//   z-index: 1;
//   width: 176.78px;
//   height: 176.78px;
//   overflow: hidden;
//   -webkit-transform: scaleY(0.5774) rotate(-45deg);
//   -ms-transform: scaleY(0.5774) rotate(-45deg);
//   transform: scaleY(0.5774) rotate(-45deg);
//   background: inherit;
//   left: 31.61px;
// }

// /*counter transform the bg image on the caps*/
// .hexTop:after,
// .hexBottom:after {
//   content: "";
//   position: absolute;
//   width: 240.0000px;
//   height: 138.5640646055102px;
//   -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-69.2820px);
//   -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-69.2820px);
//   transform:          rotate(45deg) scaleY(1.7321) translateY(-69.2820px);
//   -webkit-transform-origin: 0 0;
//   -ms-transform-origin: 0 0;
//   transform-origin: 0 0;
//   background: inherit;
// }

// .hexTop {
//   top: -88.3883px;
//   border-top: solid 7.0711px #ffffff;
//   border-right: solid 7.0711px #ffffff;
// }

// .hexTop:after {
//   background-position: center top;
// }

// .hexBottom {
//   bottom: -88.3883px;
//   border-bottom: solid 7.0711px #ffffff;
//   border-left: solid 7.0711px #ffffff;
// }

// .hexBottom:after {
//   background-position: center bottom;
// }

// .hexagon:after {
//   content: "";
//   position: absolute;
//   top: 2.8868px;
//   left: 0;
//   width: 240.0000px;
//   height: 138.5641px;
//   z-index: 2;
//   background: inherit;
// }

#user-info {
	padding-top: 100px;
	background-color: #fff;
	margin-left: 3%;
}

.user-name {
	text-align: center;
}

.user-name p {
	color: #9A9A9A;
}

.user-bio {
	margin-left: 50px;

}

// To follow a user - button called "Follow"

.profile-follow {
	border: 2px solid #43BEA2;
	width: 28%;
	background-color: #fff;
	padding: 10px 0;
	margin-left: 20px;
}

.profile-follow a {
	margin-left: 10px;
}

.profile-follow a:hover {
	text-decoration: none;
	color: #43BEA2
}

#toggle-follow {
	color: #43BEA2;
}

.fa.fa-plus {
	font-size: 16px;
	color: #43BEA2;
}

// To unfollow a user - button called "Following"

.profile-following {
	border: 2px solid #43BEA2;
	width: 28%;
	background-color: #fff;
	padding: 10px 0;
	margin-left: 20px;
}

.profile-following a {
	margin-left: 10px;
}

#toggle-following {
	color: #43BEA2;
}

.fa.fa-minus {
	font-size: 16px;
	color: #43BEA2;
}

.following-counters {
  width: 70%;
	margin-left: 30%;
  padding-top: 50px;
  border-bottom: 1px solid #C9C9C9;
}

.following-counters li {
	display: inline;
	list-style: none;
}

.following-counters img {
	width: 5%;
	margin: 0 2% 0 5%;
}

.message-user {
	background-color: #43BEA2;
	width: 28%;
	border: 2px solid #43BEA2;
	padding: 10px 0;
	margin: 10px 0 0 20%;
}

.fa.fa-envelope {
	display: inline;
	font-size: 16px;
	color: #fff;
}

.message-user a {
	color: #fff;
	margin-left: 10px;
}

.message-user a:hover {
	text-decoration: none;
	color: #fff;
}

// user posts

.status {
	width: 100%;
	background-color: #fff;
  border: 2px solid #C9C9C9;
  margin-bottom: 10px;
  padding: 2% 0;
}

.status a {
	color: #000;
	font-weight: bold;
}

.status a:hover {
	color: #43BEA2;
	text-decoration: none;
	}

.status p {
	float: left;
	color: #4C4C4C;
	margin-left: 10px;
}

.status aside {
	border-top: 1px solid #C9C9C9;
	height: 20px;
	margin-top: 40px;
	padding-top: 1%;
}


#profile-posts {
	margin: 1% 0 5% 2%;
}

#intro-post {
	margin-bottom: 100px;
	width: 100%;
	border: 1px solid #C9C9C9;
	background-color: #fff;
}

#intro-post h2, h3 {
	text-align: center;
	margin-bottom: 10px;
	padding: 10px 0;
}

#intro-post h2 {
	border-bottom: 1px solid #C9C9C9;
	padding-bottom: 20px;
}

#intro-post ul {
    width:100%;
    margin: 0 auto;
		padding: 40px 0;
}

#intro-post ul:after {
    content:".";
    clear:both;
    height:0;
    display:block;
    visibility:hidden;
}

#intro-post ul li {
	margin: 0 0 0 5%;
	padding: 0 0 20px 0;
	float: left;
	display: block;
	width: 43%;
	list-style: none;
}

#intro-post li:before {
	content: "\003E \0020";
	font-size: 1.25em;
		color: #43BEA2;
}

#intro-post a {
	text-decoration: none;
	color: #43BEA2;
	font-size: 1.25em;
}

.user-bio h4 {
	margin-top: 40px;
}

.user-bio p:nth-child(n+3) {
	color: #43BEA2;
}

.user-interests p {
	font-weight: bold;
}

.user-interests li {
	list-style: none;
}

